@import "tailwindcss";

.glass {
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    transform: translateZ(0);
    /* Trigger GPU acceleration */
}